name: Build Kernel Ginkgo

on:
  workflow_dispatch: # Tombol manual trigger
  push:
    branches: [ main ]

jobs:
  build-kernel:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: Setup Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y bc bison build-essential ccache curl flex g++-multilib gcc-multilib git gnupg gperf imagemagick lib32readline-dev lib32z1-dev liblz4-tool libsdl1.2-dev libssl-dev libxml2 libxml2-utils lzop pngcrush rsync schedtool squashfs-tools xsltproc zip zlib1g-dev \
        libncurses-dev lib32ncurses-dev

    - name: Run Build Script
      run: |
        chmod +x build.sh
        # Jalankan dengan opsi --get-ksu untuk update KSU Next
        ./build.sh --get-ksu
    
    - name: Check Output Files (Debug)
      run: |
        echo "Listing current directory files:"
        ls -la
        echo "Listing android directory (just in case):"
        ls -R /home/runner/android || echo "Android dir not found"

    - name: Upload Artifact
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: Kernel-Installer
        # Cukup gunakan *.zip karena file sudah dipindah ke root oleh script di atas
        path: ./*.zip
