name: Build Kernel Ginkgo

on:
  workflow_dispatch: # Tombol manual trigger
  push:
    branches: [ main ]

jobs:
  build-kernel:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup Dependencies
      run: |
        sudo apt update
        sudo apt install -y bc bison build-essential ccall ccache curl flex g++-multilib gcc-multilib git gnupg gperf imagemagick lib32ncurses5-dev lib32readline-dev lib32z1-dev liblz4-tool libncurses5 libncurses5-dev libsdl1.2-dev libssl-dev libxml2 libxml2-utils lzop pngcrush rsync schedtool squashfs-tools xsltproc zip zlib1g-dev

    - name: Run Build Script
      run: |
        chmod +x build.sh
        # Jalankan dengan opsi --get-ksu untuk update KSU Next
        ./build.sh --get-ksu

    - name: Upload Artifact
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: Kernel-Installer
        path: /home/runner/android/Anykernel3/*.zip
